<div id="footer">
    <div class="wrapper">
      <p class="copyright">Copyright &copy; 2012 Vijayta Panchal. All rights reserved</p>
      <div class="contact">
        <span>Contact</span>
        <a href="http://www.facebook.com/profile.php?id=602271442&ref=tn_tnmn" class="fb" target="_blank">Facebook</a>
        <a href="https://twitter.com/#!/vijaytapanchal" class="tw" target="_blank">Twitter</a>
        <a href="mailto:vijayta@vinsol.com" class="mail">Mail</a>
      </div>
    </div>  
  </div>