<%= render "shared/banner" %>

<div class="homeBottom">
  <div class="block">
    <dt><img src="assets/html.png" alt=""/></dt>
    <dd>
      <p class="desc">HyperText Markup Language (HTML) is the main markup language for web pages. HTML elements are the basic building-blocks of webpages. HTML is written..</p>
      <p class="readmore"><a href="#">Read more</a></p>
    </dd>    
  </div>  
  <div class="block">
    <dt><img src="assets/css.png" alt=""/></dt>
    <dd>
      <p class="desc">In CSS, presentation is separated from structure. In print, CSS can define color, font, text alignment, size, borders, spacing, layout and many other typographic..</p>
      <p class="readmore"><a href="#">Read more</a></p>
    </dd>    
  </div>  
  <div class="block last">
    <dt><img src="assets/jquery.png" alt=""/></dt>
    <dd>
      <p class="desc">JavaScript is an implementation of the ECMAScript language standard and is typically used to enable programmatic access to computational...</p>
      <p class="readmore"><a href="#">Read more</a></p>
    </dd>    
  </div>  
</div>