<div class="content ex_jquery">
  <div class="holderTop">
    <h1>live()/delegate()</h1>
	  <p>Create a stack of divs. Initially an empty container should display</p>
	  <ol>
	  	<li> a button on right side says "add item", should add a div to the stack with an incremental number(starting from 1) </li>
	  	<li>clicking any item in the stack should highlight that item</li>
	  	<li>clicking the last item on the stack should remove that item from the stack

</li>
	  </ol>		  
    <p><span class="bold">Note: </span>Live() is removed from 1.7 jquery version and "on()" added. I am using delegate in this exercise.</p>
    <div class="solution">
      <h3>Solution: </h3>  
      
      <div id="container01">
     <div>
       <input type="button" value="Add Item" class="add" style="float: right;"/>
     </div>
   </div>    
   <script type="text/javascript">
     $('#container01').delegate('.add', 'click', function(e) {
       e.preventDefault();
       var $count = $('#container01 p').length + 1;
       $("#container01").append("<p>" + $count + "</p>");
   });
   $("#container01").delegate("p", "click", function(){
         $(this).addClass("highlight");
   });
   $('#container01').delegate('p:last-child','click', function() {
       $("p:last").remove(); 
   });
  </script>
  <style>
  .highlight{ background: yellow; }
  </style>
      
        
  </div>
</div>  
<script>
  
</script>  