<div class="content ex_jquery">
  <div class="holderTop">
  	<h1>Create an input hint</h1>
      <p>Open the file /exercises/index.html in your browser. Use the file /exercises/js/inputHint.js or work in Firebug. Your task is to use the text of the label for the search input to create "hint" text for the search input. The steps are as follows:</p>
        <ol>
          <li>Set the value of the search input to the text of the label element</li>
          <li>Add a class of "hint" to the search input</li>
          <li>Remove the label element</li>
          <li>Bind a focus event to the search input that removes the hint text and the "hint" class</li>
          <li>Bind a blur event to the search input that restores the hint text and "hint" class if no search text was entered</li>
        </ol> 
  	<div class="solution">
    	<h3>Solution: </h3>	 
      

      
  	    
  </div>
</div> 	
<script>
  
</script>  