<div class="content ex_jquery">
  <div class="holderTop">
    <h1>Load External Content</h1>
     <p>Open the file /exercises/index.html in your browser. Use the file /exercises/js/load.js. Your task is to load the content of a blog item when a user clicks on the title of the item.</p>
	  <ol>
	  	<li>Create a target div after the headline for each blog post and store a reference to it on the headline element using $.fn.data.</li>
	  	<li>Bind a click event to the headline that will use the $.fn.load method to load the appropriate content from /exercises/data/blog.html into the target div. Don't forget to prevent the default action of the click event.</li>
	  </ol>	       
    <div class="solution">
      <h3>Solution: </h3>  
      

      
        
  </div>
</div>  
<script>
  
</script>  