<div class="content ex_jquery">
  <div class="holderTop">
    <h1>Create a Slideshow</h1>
      
    <div class="solution">
      <h3>Solution: </h3>  
      

      
        
  </div>
</div>  
<script>
  
</script>  