<div class="content ex_jquery">
  	<div class="examples">
		<div class="leftbar">
			<ul class="tabs">
				<li class="active"><a href="#tab1" class="cf">Selecting</a></li>
				
			</ul>
		</div>
		<div class="rightbar tab_container">
			<div class="tab_content" id="tab1" style="display: block">
			  <h2>Selecting</h2>
		      <p>Open the file /exercises/index.html in your browser. Use the file /exercises/js/sandbox.js to accomplish the following:</p>
			  <ol>
			  	<li>Select all of the div elements that have a class of "module".</li>
			  	<li>Come up with three selectors that you could use to get the third item in the #myList unordered list. Which is the best to use? Why?</li>
			  	<li>Select the label for the search input using an attribute selector.</li>
			  	<li>Figure out how many elements on the page are hidden</li>
			  	<li>Figure out how many image elements on the page have an alt attribute.</li>
			  	<li>Select all of the odd table rows in the table body.</li>
			  </ol>	
			  <h3>Solution: </h3>	 
			  <p class="bold"><%= link_to"Click here for Solution" , '/ex_jquery/exercise01'%></a>
			</div>
		</div>		
	</div>
</div>	