<div class="content">
  <div class="holderTop">
	<h1>Exercise05</h1>
	<p>Create a list of checkbox (red, green, yellow, white, black). Now create to links "Check all" and 'none'. When you click on check all link all checkbox will be selected, and when you click on none link all checkbox will be deselected(working example is gmail).</p>
				 
				<div class="solution">
					<h3>Solution: </h3>	
				<style>
          .formField { overflow: hidden; padding: 10px 0; }
          .formField label { float: left; width: 200px; }
		  .login a { font-weight: bold; margin: 5px 0; display: inline-block; }
		  .login a:hover { text-decoration: underline; }
        </style>
        <script type="text/javascript">
          function uncheckAll(checkItem){
           for (i = 0; i < checkItem.length; i++)
           {
              checkItem[i].checked = false;
           } 
          }
          function checkAll(checkItem)
          {
            for (i = 0; i < checkItem.length; i++)
            {
              if(checkItem[i].checked == true)
            	 {
                checkItem[i].checked = false;
                document.getElementById('checkall').style.display = "block";
                document.getElementById('uncheckall').style.display = "none";

              }
              else
                {
                  checkItem[i].checked = true ; 
                  document.getElementById('checkall').style.display = "none";
                  document.getElementById('uncheckall').style.display = "block";
                }   
            }
          }
          uncheckall(document.signup.list);
          
        </script>
        <form method="post" action="" class="login" name="signup" >
        <!--<input type="checkbox"name="checkall"> Check all-->
		<a name="checkall"  onClick="checkAll(document.signup.list)" id="checkall"> Check all </a>
    <a onClick="checkAll(document.signup.list)" name="uncheckall"  id="uncheckall" style="display: none;"> none</a>
        <ol>
          <li><input type="checkbox" value="red" name="list"> Red</li>
          <li><input type="checkbox" value="green" name="list"> Green</li>
          <li><input type="checkbox" value="orange" name="list"> Orange</li>
          <li><input type="checkbox" value="white" name="list"> White</li>
          <li><input type="checkbox" value="black" name="list"> Black</li>
        </ol>  
        
      </form>  
	  </div>
	</div>	
  </div>
</div> 	