<div class="content">
  <div class="holderTop">
  	<h1>Exercise11</h1>
  	<p>Create a simple form with a textfield and a submit button.</p>
	<p>When I enter a URL in this textfield and submit the form, it should alert me the domain name from the entered url. For example, if I enter http://example.com/folder/file.html, then on submitting the form it should alert something like: "Domain: example.com".</p>
    <p>And when I enter a url with subdomain, it should alert the subdomain too. Example: If I enter http://vinsol.example.com/folder/file.html, then on submitting the form it should alert something like: "Domain: example.com, Subdomain: vinsol".</p>

	<p>Basic Idea is to extract domain name and subdomain from a URL.</p>

	<p>Note: Use Regular Expressions for this exercise.</p>
    <div class="solution">
  	  <h3>Solution: </h3>	 
         
     <script>
	  function urlTest()
	  {
	    var cVal = document.form01.cVal01.value;
	    if(cVal.match(/^(?:www\.)?(.*?)\.(?:com|au\.uk|co\.in)$/)) {
	      var url = (cVal.match(/:\/\/(.[^/]+)/)[1]).replace('www.','');
	      alert("Domain Name is  -  " + url );
	    }
	    else if(cVal.match(/^((http[s]?|ftp):\/)?\/?([^:\/\s]+)((\/\w+)*\/)([\w\-\.]+[^#?\s]+)(.*)?(#[\w\-]+)?$/)) {
	      //var url = (cVal.match(/:\/\/(.[^/]+)/)[1]).replace('www.','');
	      //alert("Sub Domain is  -  " + url );
	      var url = cVal;
	      var sub = url.replace(/^(www\.)?([^.]+)\.mydomain\.com/i,"$2");
	      alert("Sub Domain is" + sub);
	    }
	    else if (cVal=="" || cVal==null)
	    alert("URL field is empty")
	  }
	  </script>
	<form id="form01" name="form01">
	  <input type="text" id="cVal01" name="cVal01" placeholder="Enter URL"/>
	  <input type="submit" onclick="urlTest()" value="go" />
	</form>
  	</div>	

	</div>	
  </div>
</div> 	