<div class="content">
  <div class="holderTop">
  	<h1>Exercise07</h1>
  	<p>Create a table</p>
  	<p>When you click on 'Add new row' button, it should add a new row in the table, in the name and email column there will a textfield and in the action column there will be a button save. When you enter some value in textfields and click save, values will be saved and textfields will be replaced by the values entered, and save button will be replace by edit / delete links. You should be able to delete row by clicking on the delete link, and edit value by clicking on the edit link.</p>
  	
<div class="solution">
	<h3>Solution: </h3>	 
  	<style>
  table{ padding: 5px; margin-bottom: 20px; }
  th{text-align: left; width: 300px; }
  th, td{ border-bottom: 1px solid #adadad; padding: 5px 0; }
</style>
<script type="text/javascript">
 function addProfile()
  {
    var tbl = document.getElementById('contact');
    var lastRow = tbl.rows.length;
    var iteration = lastRow;
    var row = tbl.insertRow(lastRow);
    
    var td3 = row.insertCell(0);
    td3.setAttribute('id','saveField'+iteration);
    var el3 = document.createElement('input');    
    el3.type = 'button';
    el3.name = 'save' + iteration;
    el3.id = 'save' + iteration;
    el3.value = 'save';
    el3.setAttribute('onclick', 'submitForm('+iteration+')');
    td3.appendChild(el3);  
   
   
    
     
    var td2 = row.insertCell(0);
    td2.setAttribute('id','emailField'+iteration);
    var el2 = document.createElement('input');
    el2.type = 'text';
    el2.name = 'emailRow' + iteration;
    el2.id = 'emailRow' + iteration;
    el2.value = 'Enter Your Email Address';
    td2.appendChild(el2);  
   
    
     var td1 = row.insertCell(0);
    td1.setAttribute('id','nameField'+iteration);
    var el = document.createElement('input');
    el.type = 'text';
    el.name = 'txtRow' + iteration;
    el.id = 'txtRow' + iteration;
    el.value = 'Enter Your Name';
    td1.appendChild(el);     
  }
  function removeProfile()
  {
    var tbl = document.getElementById('contact');
    var lastRow = tbl.rows.length;
    if (lastRow > 2) tbl.deleteRow(lastRow - 1);
  }
  function removeProfile01(b)
  {
    var tbl = document.getElementById('contact');
    tbl.deleteRow(b);
  }
  
  function submitForm(a)
  { 
    var i=0; 
    var name = document.getElementById('txtRow'+a).value;
    var email = document.getElementById('emailRow'+a).value;
    var save = "<a href='#'>Edit</a>/<a href='#' onclick='removeProfile01(" + a + ")'>Remove</a>"  ;
    document.getElementById('nameField'+ a).innerHTML= name;
    document.getElementById('emailField'+ a).innerHTML= email;
    document.getElementById('saveField'+a).innerHTML=save;    
    i++;
  }
</script>


  <form method="post" action="" name="profile01">
    <table cellpadding="0" cellspacing="0" id="contact" name="contact">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Save</th>
    </tr>  
    <tr>
      <td id="nameField1"><input type="text" value="Enter Your Name" id="txtRow1" name="txtRow1"/></td>
      <td id="emailField1"><input type="text" value="Enter Your Email Address" id="emailRow1" name="emailRow1" /></td>
      <td id="saveField1"><input type="button" id="save1"name="save1" value="Save" onclick="submitForm(1)"/></td>  
    </tr>
  </table>  
  <input type="button" value="Add new Row" onClick="addProfile()" />
  <input type="button" value="Remove last Row" onClick="removeProfile()" />
  </form>
  </div>
  </div>
</div> 	