<div class="content">
  <div class="holderTop">
  	<h1>Exercise11</h1>
  	<p>Create a simple form with a textfield and a submit button.</p>
	<p>When I enter a URL in this textfield and submit the form, it should alert me the domain name from the entered url. For example, if I enter http://example.com/folder/file.html, then on submitting the form it should alert something like: "Domain: example.com".</p>
    <p>And when I enter a url with subdomain, it should alert the subdomain too. Example: If I enter http://vinsol.example.com/folder/file.html, then on submitting the form it should alert something like: "Domain: example.com, Subdomain: vinsol".</p>

	<p>Basic Idea is to extract domain name and subdomain from a URL.</p>

	<p>Note: Use Regular Expressions for this exercise.</p>
    <div class="solution">
  	  <h3>Solution: </h3>	 
         
     <script>
	  function urlTest01(){
	    var url = document.form01.cVal01.value
	    if(url.match(/^(?:www\.)?(.*?)\.(?:com|au\.uk|co\.in)$/)) {
	      var url = (url.match(/:\/\/(.[^/]+)/)[1]).replace('www.','');
	      alert("Domain Name is  -  " + url );
	    }
	    else {

	    url = url.replace(new RegExp(/^\s+/),""); // START
	    url = url.replace(new RegExp(/\s+$/),""); // END

	    url = url.replace(new RegExp(/\\/g),"/");

	    url = url.replace(new RegExp(/^http\:\/\/|^https\:\/\/|^ftp\:\/\//i),"");

	    url = url.replace(new RegExp(/^www\./i),"");

	    url = url.replace(new RegExp(/\/(.*)/),"");

	    if (url.match(new RegExp(/\.[a-z]{2,3}\.[a-z]{2}$/i))) {
	    url = url.replace(new RegExp(/\.[a-z]{2,3}\.[a-z]{2}$/i),"");


	    } else if (url.match(new RegExp(/\.[a-z]{2,4}$/i))) {
	    url = url.replace(new RegExp(/\.[a-z]{2,4}$/i),"");
	    }


	    var subDomain = (url.match(new RegExp(/\./g))) ? true : false;

	    if(subDomain==true)
	    {
	      var full = document.form01.cVal01.value

	    var parts = full.split('.')
	    var sub = parts[0]
	    var domain = parts[1]
	    var type = parts[2]

	    var newUrl = sub;
	    var part01 = sub.split('/')
	    var sub01 = part01[2];

	    alert("Domain Name is = "+ domain +", Subdomain is = "+ sub01); 
	    }
	  }
      if(!(url.match(/^(?:www\.)?(.*?)\.(?:com|au\.uk|co\.in)$/)))
      {
	     alert("wrong URl")
      }

	  }

	  </script>

	<form id="form01" name="form01">
	  <input type="text" id="cVal01" name="cVal01" placeholder="Enter URL"/>
	  <input type="submit" onclick="urlTest01()" value="go" />
	</form>
  	</div>	

	</div>	
  </div>
</div> 	