
<div class="content">
  <div class="holderTop">
	<h1>About me and my work</h1>
	<div class="aboutMe">
		<dt>
			<img src="/assets/me.png" alt="Vijayta Panchal">
		</dt>
		<dd>
			<h3>Vijayta Panchal</h3>
			<h5>Sr. Front End Engineer</h5>
			<p><span class="label">Github:</span><%= link_to"vijayta", "http://github.com/vijayta"%></p>
			<p><span class="label">Twitter:</span><%= link_to"vijaytapanchal", "http://twitter.com/vijaytapanchal"%></p>
			<p><span class="label">Blog:</span><%= link_to"http://vijayta.wordpress.com", "http://vijayta.wordpress.com"%></p>						
		</dd>
		
		<div class="brief">I am expert at converting photoshop designs to pixel perfect Rails Front end using either ERB templates or HAML/SASS. I also have extensive experience working with various Content Management Systems like Radiant, Wordpress and Drupal. </div>	
	</div>
  </div>	
	
</div> 	