
<div class="content">
  <div class="holderTop">
	<h1>About me and my work</h1>
	<div class="aboutMe">
		<dt>
			<img src="/assets/me.png" alt="Vijayta Panchal">
		</dt>
		<dd>
			<h3>Vijayta Panchal</h3>
			<h5>Sr. Front End Engineer</h5>
			<p><span class="label">Github:</span><%= link_to"vijayta", "http://github.com/vijayta"%></p>
			<p><span class="label">Twitter:</span><%= link_to"vijaytapanchal", "http://twitter.com/vijaytapanchal"%></p>
			<p><span class="label">Blog:</span><%= link_to"http://vijayta.wordpress.com", "http://vijayta.wordpress.com"%></p>						
		</dd>
		
		<div class="brief">I am expert at converting photoshop designs to pixel perfect Rails Front end using either ERB templates or HAML/SASS. I also have extensive experience working with various Content Management Systems like Radiant, Wordpress and Drupal. </div>	
	</div>
  </div>	
	<div class="examples">
		<div class="leftbar">
			<ul class="tabs">
				<li class="active"><a href="#tab1" class="cf">Signup form</a></li>
				<li><a href="#tab2" class="cf">Popup window with user name</a></li>
				<li><a href="#tab3" class="cf">Prompt for URL</a></li>
				<li><a href="#tab4">Multiple selection box</a></li>
				<li><a href="#tab5">Check all and none</a></li>
				<li><a href="#tab6">Prompt when browser open</a></li>
				<li><a href="#tab7">Check if the prompt Empty</a></li>
				<li><a href="#tab8">Two multiple selection box</a></li>
				<li><a href="#tab9">Email and URL matching</a></li>
				<li><a href="#tab10">Matching numerical Values</a></li>
				<li><a href="#tab11">Domail/subdomain matching</a></li>
			</ul>
		</div>
		<div class="rightbar tab_container">
			<div class="tab_content" id="tab1" style="display: block">
			  <h2>Sign up form</h2>
		      <p>Create a form and add JS validations to that form.When you click on 'Go' JS will check all text fields, and give an alert like "Login Id can't be empty". One alert per empty field.</p>
			  <p>For textarea it should check for empty and min length of 50 characters. </p>
			  <p>If any field is invalid then it should not submit the form. Also It should also confirm "receive notification"</p>
				
			  <h3>Solution: </h3>	 
			</div>
			<div class="tab_content" id="tab2" style="display: none">
				<h2>Popup window with user name</h2>
			</div>
			<div class="tab_content" id="tab3" style="display: none">
				<h2>Prompt for URL</h2>
			</div>
			<div class="tab_content" id="tab4" style="display: none">
				<h2>Multiple selection box</h2>
			</div>
			<div class="tab_content" id="tab5" style="display: none">
				<h2>Check all and none</h2>
			</div>
			<div class="tab_content" id="tab6" style="display: none">
				<h2>Prompt when browser open</h2>
			</div>
			<div class="tab_content" id="tab7" style="display: none">
				<h2>Check if the prompt Empty</h2>
			</div>
			<div class="tab_content" id="tab8" style="display: none">
				<h2>Two multiple selection box</h2>
			</div>
			<div class="tab_content" id="tab9" style="display: none">
				<h2>Email and URL matching</h2>
			</div>
			<div class="tab_content" id="tab10" style="display: none">
				<h2>Matching numerical Values</h2>
			</div>	
			<div class="tab_content" id="tab11" style="display: none">
				<h2>Domail/subdomain matching</h2>
			</div>
		</div>		
	</div>	
  </div>
</div> 	