<div class="content">
  <div class="holderTop">
  	<h1>Exercise09</h1>
  	<p class="bold">Email and URL matching</p>
	<p>The form you create and add validations for the correct format of email and homepage(url)</p>
		<div class="solution">
		<h3>Solution: </h3>	 
		
		</div>
  	
	
  </div>
</div> 	