<div class="content">
  <div class="holderTop">
	<h1>Exercise03</h1>
	<p>Write a Script that prompt you for a URL. If the put an empty url it should alert you. Otherwise it should open that URL in a new window of width 400px and height 450px, without any type of bar.</p>
	  <script type="text/javascript">
     var webAdd = prompt("Please enter Web URL");
     if(webAdd=="") 
     {
       alert("The URL you enter is Empty");
     }
     else 
      {
        window.location = "http://" + webAdd;
      }  
    
    </script>
	</div>	
  </div>
</div> 	