<div class="content">
  <div class="holderTop">
  	<h1>Exercise09</h1>
  	<h2>Email and URL matching</h2>
		<p>The form you create and add validations for the correct format of email and homepage(url)</p>
		<h3>Solution: </h3>	 
		
  	
	
  </div>
</div> 	